<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Add Form</title>
</head>

<body>
	<!-- dollar $ ambil data, * tambah data, @update -->
	<form method="post" th:object="${variant}" th:action="@{/variant/save}">
		<!-- kalau di post / submit maka akan ke fungsi save-->
		<input type="hidden" th:field="*{id}">
		<table border="1">
			<tr>
				<td>Category</td>
				<td>
					<select th:field="*{categoryId}">
						<option th:each="item:${ listcategory }" 
						th:text="${item.categoryName}"
						th:value="${item.id}"></option>
					</select>
				</td>
			</tr>

			<tr>
				<td>Variant Code</td>
				<td><input type="text" th:field="*{variantCode}"></td>
			</tr>

			<tr>
				<td>Variant Name</td>
				<td><input type="text" th:field="*{variantName}"></td>
			</tr>

			<tr>
				<td colspan="2"><input type="submit" value="Save"></td>
			</tr>
		</table>

	</form>
</body>
</html>