<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Variant</title>
</head>

<body>
	<h3>Variant List</h3>

	<button onclick="window.location.href='/variant/addform' ">Tambah Data (+)</button>

	<table border="1">
		<thead>
			<tr>
				<th>Id</th>
				<th>Variant Code</th>
				<th>Category Name </th>
				<th>Variant Name</th>
				<th colspan="2">Action</th>
			</tr>
		</thead>

		<tbody>
			<tr th:each="item:${ listvariant }">  <!-- refer to addObject di controller-->
				<td th:text="${ item.id }"></td>
				<td th:text="${ item.variantCode }"></td>
				<td th:text="${ item.category.categoryName}"></td>
				<td th:text="${ item.variantName }"></td>
				<td>
					<a th:href="@{/variant/edit/{id}(id=${item.id})}">Edit Data</a>
				</td>
				<td>
					<a th:href="@{/variant/delete/{id}(id=${item.id})}">Delete Data</a>

				</td>
			</tr>
		</tbody>

	</table>


</body>
</html>