<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Category</title>
</head>

<body>
	<h3>Category List</h3>

	<button onclick="window.location.href='/category/addform' ">Tambah Data(+)</button>
<!-- href untuk perpindahan page -->
	<table border="1">
		<thead>
			<tr>
				<th>Id</th>
				<th>Category Code</th>
				<th>Category Name</th>
				<th colspan="2">Action</th>
			</tr>
		</thead>


		<tbody>
			<tr th:each="item:${ listcategory }">
				<td th:text="${ item.id }"></td>
				<td th:text="${ item.categoryCode }"></td>
				<td th:text="${ item.categoryName }"></td>
				<td>
					<a th:href="@{/category/edit/{id}(id=${item.id})}">Edit</a>
				</td>
				<td>
					<a th:href="@{/category/delete/{id}(id=${item.id})}">Delete</a>
				</td>
			</tr>

		</tbody>
	</table>

</body>


</html>